.git
.gitignore
.DS_Store
**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
.venv
.mypy_cache
.ruff_cache
data/cache
data/processed/road_network.csv
data/processed/road_network_parts
frontend/react_app/node_modules
frontend/react_app/dist
